.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo {
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(45deg, green, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
